.button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  &.btn-primary {
    background-color: #8112f7;
  }
  &.btn-secondary {
    background-color: #ccc;
    color: #333;
  }
  &.btn-primary:hover {
    background-color: #6a0dad;
  }
  &.btn-secondary:hover {
    background-color: #bbb;
  }
  &.button:active {
    scale: 0.95;
  }
}
