@use "../../features/auth/styles/button.scss";
@use "./media.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #151515;
  color: whitesmoke;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.expression-status,.expression-actions{
  display: flex;
  justify-content: center;
gap: 1rem;
margin-top: .6rem;
}

.expression-video{
  width: 60%;

}
.expression-video-wrapper{
  display: flex;
  justify-content: center;
}
.expression-page{
  min-height: 60vh;

}